body{
	background: url("../img/background-pizza.jpg");
	background-repeat: no-repeat;
	background-position-y: 5%;
	background-size: 100%;
}

.panel-info{
	background: rgba(255, 255, 255, 0.7); 
}

.menu-button{
	width: 100%;
	height: 100px;
	font-size: 18px;
}

.menu-button .glyphicon{
	font-size: 30px;
	display:block;
}