body{
	background: url("../img/background-pizza.jpg");
	background-repeat: no-repeat;
	background-position-y: -25px;
	background-attachment: fixed;
	background-size: 100%;
}

.panel-info{
	background: rgba(255, 255, 255, 0.7); 
}

.menu-button{
	width: 100%;
	height: 100px;
	font-size: 18px;
}

.menu-button .glyphicon{
	font-size: 30px;
	display:block;
}

#masterBody {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#masterBody.toggled {
    padding-left: 250px;
}

#leftMenu {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: transparent;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}


#masterBody.toggled #leftMenu{
    width: 250px;
}

#masterContent {
    width: 100%;
    position: absolute;
    padding: 15px;
}



#masterBody.toggled #masterContent{
    position: absolute;
    margin-right: -250px;
}


@media(min-width:768px) {
    #masterBody {
        padding-left: 250px;
    }

    #masterBody.toggled {
        padding-left: 0;
    }

    #leftMenu {
        width: 250px;
    }

    #masterBody.toggled #leftMenu {
        width: 0;
    }

    #masterContent {
        padding: 20px;
        position: relative;
    }

    #masterBody.toggled #masterContent {
        position: relative;
        margin-right: 0;
    }
}