<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
 <hibernate-configuration>
   <session-factory>
     <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
     <property name="connection.url">jdbc:mysql://localhost/grupo88</property>
     <property name="connection.username">llevaYtrae</property>
     <property name="connection.password">gil</property>
     <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
     <property name="hibernate.show_sql">true</property>
     <property name="hibernate.enable_lazy_load_no_trans">true</property>

     <mapping class="ObjetosDB.Ingredientes"/>
     <mapping class="ObjetosDB.TipoIngrediente"/>
     <mapping class="ObjetosDB.Receta_Ingrediente"/>
     <mapping class="ObjetosDB.Complexiones"/>
     <mapping class="ObjetosDB.Dietas"/>
     <mapping class="ObjetosDB.GruposAlimenticios"/>
     <mapping class="ObjetosDB.CondicionesPreexistentes"/>
     <mapping class="ObjetosDB.Dificultades"/>
     <mapping class="ObjetosDB.Condimentos"/>
     <mapping class="ObjetosDB.Temporadas"/>
     <mapping class="ObjetosDB.PreferenciasAlimenticias"/>
     <mapping class="ObjetosDB.Rutinas"/>
     <mapping class="ObjetosDB.Usuario"/>
     <mapping class="ObjetosDB.Grupo"/>
     <mapping class="ObjetosDB.Pasos"/>
     <mapping class="ObjetosDB.Receta"/>
     

  </session-factory>
 </hibernate-configuration>
 
